<div class="container">
  <div class="row">
    <div  class="col-md-4" *ngFor="let g of graphicsCard.content">
      <div>
        <img src="https://dummyimage.com/150x150/55595c/fff" alt="">
        <p>{{g.name}}</p> 
        <p>{{g.price}} $</p>
        <p><button class="btn btn-warning"(click)="addToCartItem(g.id)">AddToCart</button></p>
      </div>
    </div>
  </div>
</div>